body{
     height: 100vh;
     background-image: linear-gradient(to right,);
   margin: 0;
}

header{
    display: flex;
    align-items: center;
    padding-left: 20px;
    column-gap: 60px;
    background-color: #7CFFCB; background-image:linear-gradient(to right, #b3ffab, #12fff7);

}
#MMI{
	
    float: right;
    margin-right: 55px;
    width: 300px;
	max-height: auto;
	border-width: 20px;

}
#image1{
    height: 100px;
}

#clic{
	
    float:right;
    margin-right: 775px;
    width: 5%;
	height: auto;

}

#titres{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texte{
    margin: 8px;
    margin-top: 32px;
    font-size:17px;
    text-align: justify;
}
