body{
     height: 100vh;
     background-image: linear-gradient(to right,);
   margin: 0;
}

#header{
    display: flex;
    align-items: center;
    padding-left: 20px;
    column-gap: 60px;
    background-color: #7CFFCB; background-image:linear-gradient(to right, #b3ffab, #12fff7);

}
.MMI
{
	float: right;
}
#image{
    height: 100px;
}

#titres{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texte{
    margin: 8px;
    margin-top: 32px;
    font-size:17px;
}
